<form #userForm="ngForm" ngSubmit="onSubmit(userForm)">
  <input type="hidden" name="_id" #_id="ngModel" [(ngModel)]="userService.selectedUser._id">
  <div>
    <label>First Name: </label>
    <input type="text" name="firstName" #firstName="ngModel" [(ngModel)]="userService.selectedUser.firstName"
      placeholder="Enter first name">
  </div>
  <div>
    <label>Last Name: </label>
    <input type="text" name="lastName" #lastName="ngModel" [(ngModel)]="userService.selectedUser.lastName"
      placeholder="Enter last name">
  </div>
  <div>
    <label>Email: </label>
    <input type="text" name="email" #email="ngModel" [(ngModel)]="userService.selectedUser.email"
      placeholder="Enter email">
  </div>
  <div>
    <button type="button" (click)="clearForm(userForm)">Clear</button>
    <button type="button">Submit</button>
  </div>
</form>